# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.dev
.env.prod

myenv/
venv/
env/
*/.venv/
*/env/

# Logs and databases
*.log
*.sql
*.sqlite3

# Static and media files (if managed locally)
media/
static/
backend/uploads
backend/images
# Django specific files
*.pot
local_settings.py
secret_key.txt

# System files
.DS_Store
Thumbs.db

# IDE and editor specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
TODO.txt
curl.txt

# Docker
*.log
*.pid
docker-compose.override.yml
*.bak
*.swp

# Node.js
node_modules/
dist/
.build/
.temp/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sw?
*.code-workspace

# OS
ehthumbs.db
Icon?
Desktop.ini

# Mac M1
*.DS_Store

# Optional if you're using Docker
docker-compose.override.yml
backend/staticfiles/
/data