.profile-main-grid{
    display: grid;
    grid-template-columns:  240px auto 20%;
    margin: 20px 17%;
    gap: 15px;
}
.profile-main-grid > div {
    /* background-color: rgb(255, 255, 255); */
    /* margin: 15px; */
}

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
}
.column0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    height: 450px;
    position: relative;
    top: -200px;
}
.profile_sub_total {
    text-align: center;
    /* margin-top: 0px; */
    margin-bottom: 0px;
    font-size: 24px;
}
.profile_sub {
    text-align: center;
    margin-top: 0px;
    /* font-size: 16px; */
    color: rgb(82, 82, 82);
}
.profile_button{
    width: 200px;
    color: pink;
}

.column1 {
    /* border-radius: 10px;
    padding: 20px; */
    /* background-color: rgb(255, 255, 255); */
}
.about_creator {
    font-weight: 700;
    font-size: 18px;
}
.column1_top_part {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
}

.column1_bottom_part{
    background-color: rgb(255, 255, 255);
    /* padding: 15px; */
    border-radius: 15px; 
}

.not_creator {
    display: flex;
    margin: 50px 30%;
    font-size: 20px;
    flex-direction: column;
}
.not_creator > * {
    text-align: center;
}
.not_creator > p {
    margin-top: 0px;
}
.logout {
    display: flex;
    margin: 50px 20%;
    font-size: 20px;
    flex-direction: column;
}

.profile_username{
    margin-bottom: 0px;
}

.prof_top_part{
    height: 250px; 
}

.column2 {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    height: 250px;
}
.prof_top_part img {
    object-fit: cover; /* Обеспечивает обрезку изображения с сохранением пропорций */
  }
.subscription_plan  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 50vh;
    justify-content: center;
}

.media {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

@media (max-width: 768px) { 
    .profile-main-grid{
        display: flex;
        flex-direction: column;
        margin: 20px 7%;
        gap: 15px;
    }
    .column0 {
        top: 0px;
    }
    .not_creator {
        margin: 50px 15%;
    }
    .profile_subscription_div{
        order: -1;
        align-self: center;
    }
    .column2 {
        order:-1;
    }
}    
.post_media_img {
    cursor: pointer;
}